[*.cs]
# Suppress
dotnet_diagnostic.CA1056.severity = none
dotnet_diagnostic.CA2007.severity = none

[/Controllers/*.cs]
dotnet_diagnostic.CA1054.severity = none
dotnet_diagnostic.CA1055.severity = none