@model SignOutViewModel
@{ ViewBag.Name = "Sign out"; }
<div class="card">
	<div class="card-header">
		<h1 class="h4 m-0 p-0">
			<svg class="size-1-point-4-rem m-0 p-0" role="presentation">
				<use xlink:href="/Style/Icons/sprite.svg#alert-circle" />
			</svg>
			@ViewBag.Name
		</h1>
	</div>
	<div class="card-body">
		Do you want to sign out?
		<partial name="~/Views/Account/SignOutForm.cshtml" model="@Model.Form" />
	</div>
</div>